node_modules
.DS_Store
*.local
node_modules/*
*.css
*.html
.next/*
next*
*.mdx
README.md
*.yaml
*.sh

README.md

*.css
*.d.ts
*.html
*.yml

*.png
*.svg
*.txt
*.ico
*.yaml
*.ttf
*.tmp
/tmp

.env*
env.*
env.default
_app.tsx
_document.tsx
*ignore
.gitattributes

.husky/
scripts/

.editorconfig

yarn.lock
pnpm-lock.yaml
Dockerfile
